
body{
    font-family:'Loto',sans-serif;
    font-family: 'open sans',sans-serif;
  
}

.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
}
.section-description{
 font-size: 18px;
 text-align: center;
 color:#757575 ;

}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav >ul{
    list-style: none;
    display: flex;
    align-items: center;

    
}

nav a {
    text-decoration: none;
    margin: 10px;
}
 
.text-primary{
    background-color:#FD6E0A;
    
}
.style-n{
    color:#FD6E0A;
    border: none;
}
.nav-title{
    color: #181818;
    font-size: 45pxS;
    font-weight: 800;
}

.btn-primary{
    border:0px;
    background-color:#FD6E0A;
    color: white;
    border-radius: 2px;
    font-weight: 700;
    padding: 15px 35px;
}

.header{
    background-color:#FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position:bottom right ;
}
.banner {
    padding:30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
     max-width: 500px;
}
.banner .profile-picture{
    width: 500px;
     
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

}
.banner-title{
    font-size:85px ;
    font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;

}
.banner-description{
    margin-top: 5px;
    margin-bottom: 20px;
}
.about-me{
    padding: 130px;
    background-color:#FFF8F3 ;
    margin: 130px 0px;
  
}
.section_container{
    /* background-color: #FFF8F3;
  margin-left: 50%;
  text-align: center;
   padding: 100px;
  */
     
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
                       
}
.about-info{
    text-align: center;
}